# Files and directories created by pub
.dart_tool/
.packages
node_modules/
utils/

# Omit commiting pubspec.lock for library packages:
# https://dart.dev/guides/libraries/private-files#pubspeclock
pubspec.lock
package-lock.json

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
